.home {
  max-width: 100%;
  height: 968px;
  // display: flex;
  padding: 72px;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: repeating-linear-gradient(1deg, rgba(0, 0, 0, 9.5), rgba(0, 0, 0, 0.5)), url('https://s3-alpha-sig.figma.com/img/48be/3527/dc868761f455ef44259ba16713bb8ed3?Expires=1689552000&Signature=iDt7Z1pVhni9nNtn3zS60WiKGX7zSV2VQVoybLDcj17mPug6XV4jQtfeX-b5~jARspJqNrkJBNHMXNuA6rYyVrV8S52krEoaCiNLf-5eAqVnIf5xTArpdoAljeSQUDTPs2SxXRPv3y2oKdNK2uhvo55-8lNtNy9UkWEjoPmpc2qB-82PxlbuZ7geEkoEHkrrpclIrol-YTH06OAU7OMjMmVV9-jOqcv9~-7AEQuKwSa7Sg6bxY1f~Ru-9fj8ULuIBIJkeDr2E7YsaVWxN8FrYNNoY6wsntTDT6-NDzBJM8ISrEe4EorQ8W0SFrI2rrZfhkB9wTPZrKJEjAtoxk0VfQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    max-width: 100%;
    max-height: 100%;
    z-index: -1;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
  }

  .hamburger-btn,
  .language {
    font-size: 40px;
    color: white;
    cursor: pointer;
    display: none;
  }

  .language {
    display: block;
  }

  nav {
    display: flex;
    gap: 60px;
  }

  nav ul {
    display: flex;
    gap: 60px;
    list-style: none;
  }

  nav li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    ;
  }

  nav li a.active,
  nav li a:hover {
    color: #ff4a17;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 205px;
  }

  .info .hh2 {
    color: white;
    font-size: 40px;
    font-family: Arimo, sans-serif;
    ;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
  }

  .info h3 {
    color: transparent;
    font-size: 40px;
    font-family: Arimo, sans-serif;
    ;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    -webkit-text-stroke: 0.4px #ffffff;
    font-weight: 400;
  }

  .logo {
    max-width: 253px;
    height: 61.972px;
  }

  .info h3 {
    padding-left: 100px;
  }

  .inovations {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .inovations p {
    color: #fff;
    font-size: 16px;
    font-family: Open Sans, sans-serif;
    ;
    font-weight: 600;
    line-height: 25.6px;
  }

  .inovations span {
    color: #fefefe;
    font-size: 18px;
    font-family: Open Sans, sans-serif;
    ;
    line-height: 34.2px;
  }

  .link {
    position: relative;
    left: 50%;
    top: 120px;
    cursor: pointer;
    max-width: 20px;
    height: 35px;
  }

  @media (max-width: 968px) {
    header {
      align-items: center;
      justify-content: center;

    }

    nav {
      display: none;
    }

    .language {
      display: none;
    }

    .hamburger-btn {
      display: block;
    }

    padding: 20px;

    .info {
      padding-top: 100px;
    }

    .info .hh2,
    .info h3 {
      font-size: 32px;
      line-height: 40px;
    }

    .info h3 {
      padding-left: 0;
    }

    .inovations {
      flex-direction: column;
      padding-top: 40px;
      gap: 20px;
      padding-top: 60px;
    }

    .inovations p {
      font-size: 14px;
      line-height: 22.4px;
    }

    .inovations span {
      font-size: 16px;
      line-height: 30.6px;
    }

    .link {
      top: 60px;
    }
  }

  @media (max-width: 375px) {
    padding: 24px;

    .info {
      padding-top: 60px;
    }

    .info h2,
    .info h3 {
      font-size: 24px;
      line-height: 32px;
    }

    .inovations {
      display: flex;
      flex-direction: column;
      padding-top: 40px;
      gap: 20px;
    }

    .inovations p {
      font-size: 12px;
      line-height: 19.2px;
    }

    .inovations span {
      font-size: 14px;
      line-height: 26.7px;
    }

    .link {
      top: 40px;
    }
  }
}

.home header .menu {
  z-index: 999;
  display: block;
  position: fixed;
  width: 300px;
  height: 400px;
  background-color: rgb(72, 72, 72);
  border-radius: 8px;
  top: 130px;
  padding: 20px;
  transition: all 0.3s ease-in-out;
  left: 100%;

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;


    li {
      list-style: none;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

.home header .menu.open {
  left: 10px;
}