.news-page {
  display: flex;
  justify-content: space-between;
  // gap: 190px;
  padding: 48px 72px;
  align-items: center;

  .news-info {
    width: 1500px;
    display: flex;
    align-items: flex-start;

  }

  .news-imgs {
    display: flex;
    gap: 20px;

    div{


    img {
      max-width: 100%;
      max-height: 424.51px;
      // border-radius: 15px;
      object-fit: fill;
    }
  }

    .link3{
      width: 100%;
      height: 424.51px;
      object-fit: cover;

    }
  }

  @media (max-width: 768px) {
    .news-imgs {
      flex-direction: column;
      align-items: center;

      img {
        width: 100%;
        height: auto;
      }
    }

    .link3 {
      display: none;
    }

    flex-direction: column;
    gap: 30px;
    padding: 36px;
  }

  @media (max-width: 375px) {
    padding: 24px;
  }

  .news-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;

    p {
      color: #999696;
      font-size: 18px;
      font-family: Poppins, sans-serif;
      ;
      font-weight: 600;
      line-height: 23.4px;
    }

    h3 {
      color: #FEFEFE;
      font-size: 50px;
      font-family: Poppins, sans-serif;
      ;
      font-weight: 600;
      line-height: 65px;
      text-align: start;

      h2 {
        font-size: 50px;
        font-family: Poppins, sans-serif;
        ;
        line-height: 65px;
        text-align: start;
        color: transparent;
        -webkit-text-stroke: 0.4px #ffffff;
        font-weight: 400;
      }

    }

    span {
      margin-top: 40px;
      display: flex;
      gap: 20px;
      text-align: center;
      color: #999696;
      font-size: 18px;
      font-family: Arimo, sans-serif;
      font-weight: 700;
      line-height: 60px;
      transition: 0.2s all ease-in-out;
      cursor: pointer;
    }

    span:hover {
      color: #FF4A17;
    }
  }
}