.news-pages {
  display: flex;
  justify-content: space-between;
  padding: 30px
  // align-items: center;
}

.news-info {
  width: 100%;
  max-width: 1500px;
  display: flex;
  align-items: flex-start;
}

.news-imgs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  div {
    flex: 1 1 50%;
  }

  img {
    max-width: 100%;
    max-height: 424.51px;
    object-fit: fill;
  }
}

.news-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.news-info p {
  color: #999696;
  font-size: 18px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  line-height: 23.4px;
}

.news-info h3 {
  color: #FEFEFE;
  font-size: 50px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  line-height: 65px;
  text-align: start;
}

.news-info h3 h2 {
  font-size: 50px;
  font-family: Poppins, sans-serif;
  line-height: 65px;
  text-align: start;
  color: transparent;
  -webkit-text-stroke: 0.4px #ffffff;
  font-weight: 400;
}

.news-info span {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  text-align: center;
  color: #999696;
  font-size: 18px;
  font-family: Arimo, sans-serif;
  font-weight: 700;
  line-height: 60px;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}

.news-info span:hover {
  color: #FF4A17;
}

@media (max-width: 768px) {
  .news-pages {
    flex-direction: column;
    gap: 30px;
    padding: 36px;
    margin-top: 180px;
  }

  .news-imgs {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .news-imgs div {
    flex: initial;
    width: 100%;
  }

  .link3 {
    display: none;
  }
}

@media (max-width: 375px) {
  .news-pages {
    padding: 24px;
  }
}
