.products {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 72px;

  @media (max-width: 768px) {
    padding: 20px;
  }

  .products-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;

    div {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h3 {
        color: #fff;
        font-size: 50px;
        font-family: Arimo, sans-serif;
        font-weight: 700;
        line-height: 60px;
        text-transform: uppercase;

        @media (max-width: 768px) {
          font-size: 30px;
          line-height: 40px;
        }
      }

      h4 {
        font-size: 50px;
        font-family: Arimo, sans-serif;
        font-weight: 700;
        line-height: 60px;
        text-transform: uppercase;
        color: transparent;
        -webkit-text-stroke: 0.4px #ffffff;
        font-weight: 400;

        @media (max-width: 768px) {
          font-size: 30px;
          line-height: 40px;
        }
      }
    }

    button {
      width: 233px;
      height: 71px;
      border-radius: 35px;
      background: rgba(255, 255, 255, 0.1);
      color: #999696;
      font-size: 14px;
      font-family: Arimo, sans-serif;
      font-weight: 700;
      line-height: 21px;
      letter-spacing: 1.96px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: #fff;
        background: #ff4a17;
      }

      @media (max-width: 768px) {
        width: 180px;
        height: 55px;
        font-size: 12px;
        letter-spacing: 1.4px;
      }
    }
  }

  .products-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 26px;
    margin-top: 20px;

    @media (max-width: 768px) {
      gap: 10px;
      margin-top: 10px;
    }

    img {
      width: 410px;
      height: 488px;
      border-radius: 10px;
      opacity: 0.8;

      @media (max-width: 768px) {
        width: 100%;
        height: auto;
        max-width: 300px;
        max-height: 356px;
      }
    }

    div {
      display: flex;
      flex-direction: column;

      p {
        position: relative;
        bottom: 60px;
        color: #fff;
        text-align: center;
        font-size: 26px;
        font-family: Arimo;
        font-weight: 700;
        line-height: 31.2px;

        @media (max-width: 768px) {

          font-size: 18px;
          line-height: 24px;
          bottom: 30px;
        }
      }
    }
  }
}
