.partner-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  // padding: 72px;

  @media (max-width: 768px) {
    padding: 40px;
  }

  img {
    width: 84px;
    height: 57px;
  }

  h3 {
    padding: 72px;
    color: #fff;
    font-size: 50px;
    font-family: Arimo, sans-serif;
    font-weight: 700;
    line-height: 60px;

    @media (max-width: 768px) {
      font-size: 40px;
      line-height: 50px;
      padding: 40px;
    }

    span {
      color: transparent;
      -webkit-text-stroke: 0.4px #ffffff;
      font-weight: 400;
    }
  }

  .partner-imgs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    img {
      max-width: 100%;
      max-height: 424.51px;
      border-radius: 15px;

      @media (max-width: 768px) {
        max-height: 300px;
      }
    }
  }
}
