@import "react-responsive-carousel/lib/styles/carousel.min.css";

.partner-page {
  display: flex;
  flex-direction: column;
  padding: 72px;
  gap: 70px;

  img {
    width: 84px;
    height: 57px;
  }

  h3 {
    color: #fff;
    font-size: 50px;
    font-family: Arimo;
    font-weight: 700;
    line-height: 60px;

    span {
      color: transparent;
      -webkit-text-stroke: 0.4px #ffffff;
      font-weight: 400;
    }
  }

  .partner-imgs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    img {
      max-width: 100%;
      max-height: 424.51px;
      border-radius: 15px;
    }
  }

  @media (max-width: 768px) {
    padding: 36px;
  }

  @media (max-width: 375px) {
    padding: 24px;
  }
}