.start-container {
  max-width: 100%;  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  padding: 60px;

  .container-div{
    flex: 1 1 auto;
  }
}

.start {
  width: 100%;
  background-image: url("../../assets/imgs/Section.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1390px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  height: 405px;
}

.start h2 {
  color: #FEFEFE;
  text-align: center;
  font-size: 4.17vw;
  font-family: Arimo, sans-serif;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 2vw;
}

.start button {
  color: #999696;
  text-align: center;
  font-size: 1.67vw;
  font-family: Arimo, sans-serif;
  font-weight: 700;
  line-height: 1.25;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.start button:hover {
  color: #FF4A17;
}

@media (max-width: 968px) {


  .start-container{
    padding-top: 0px;
    margin-top: 100px;

  }

  .start {
    width: 90%;
    padding: 70px 20px;
  }

  .start h2 {
    font-size: 20px;
  }

  .start button {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .start {
    max-width: 100%;
  }

  .start h2 {
    font-size: 16px;
  }

  .start button {
    font-size: 12px;
  }
}
