.start-container {
  max-width: 100%;  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  padding: 20px;

  .container-div{
    flex: 1 1 auto;
  }
}

.start {
  width: 100%;

  background-image: url("https://s3-alpha-sig.figma.com/img/ef5b/7098/e300106dd272d577e7e3a3228776f287?Expires=1688947200&Signature=Yor6YZjxXL1f9EgmBB1uy5GdcCUBBIkblS4V8NcMYuEvMFZTiukxaQxqDjcYI-pnpFm29CoN3xfGC4cGJkovG-re~EIU5YxFoE~y5CP5S-VrLJR~fjrYdj3bXWmK5SXlhGApHTudDZHAkmBImScflVt7fl2i-Esy29oEqWSTRNEdA2Izk1TBD0RGa32YUN1jhbZ-5uAD80VOBmqzkGGCpDY02fnIHoyVvbG8WB08gcovfS4CKQR2qX8g3XhAC1ilmY7Zfd8EciJFu~S5KqDK4T~BCZhScM4qOYPizDqqLhN0uKVL5vHxGv00UVBXEVbXt8LkkoWtmSIJ5lv~JstY7A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1390px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.start h2 {
  color: #FEFEFE;
  text-align: center;
  font-size: 4.17vw;
  font-family: Arimo, sans-serif;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 2vw;
}

.start button {
  color: #999696;
  text-align: center;
  font-size: 1.67vw;
  font-family: Arimo, sans-serif;
  font-weight: 700;
  line-height: 1.25;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.start button:hover {
  color: #FF4A17;
}

@media (max-width: 768px) {


  .start-container{
    padding-top: 0px;
    margin-top: 100px;

  }

  .start {
    width: 90%;
    padding: 70px 20px;
  }

  .start h2 {
    font-size: 20px;
  }

  .start button {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .start {
    max-width: 100%;
  }

  .start h2 {
    font-size: 16px;
  }

  .start button {
    font-size: 12px;
  }
}
