.footer {
  display: flex;
  flex-direction: column;
  gap: 72px;
  padding: 22px;
  margin-top: 60px;

  .footer-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;

    .logos {
      cursor: pointer;
      align-items: flex-start;
      justify-content: flex-start;
      display: flex;
      gap: 10px;

      img {
        transition: all 0.3s ease-in-out;
      }

      img:hover {
        filter: invert(57%) sepia(100%) saturate(2878%) hue-rotate(0deg) brightness(104%) contrast(97%);
      }

    }

    .footer-gg {
      display: flex;
      flex-direction: column;
      gap: 40px;

      li {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          color: rgba(254, 254, 254, 0.70);
          text-align: center;
          text-decoration: none;
        }

        a:hover {
          color: #FF4A17;
        }
      }
    }

    p {
      color: #FEFEFE;
      font-size: 18px;
      font-family: Arimo, sans-serif;
      font-weight: 700;
      line-height: 23.4px;
      transition: all 0.2s ease-in-out;
    }

    span {
      color: rgba(254, 254, 254, 0.70);
      font-size: 16px;
      font-family: Arimo, sans-serif;
      line-height: 25.6px;
      transition: all 0.2s ease-in-out;
    }

    a {
      color: rgba(254, 254, 254, 0.70);
      font-size: 16px;
      font-family: Arimo, sans-serif;
      line-height: 25.6px;
      transition: all 0.2s ease-in-out;
      text-decoration: none;

      &:hover {
        color: #FF4A17;
      }
    }
  }

  .inpBtn {
    display: flex;

    input {
      width: 201px;
      height: 32px;
      border-radius: 10px;
      background: #000;
      padding: 13px 15px;
      border: none;
      position: relative;
      color: white;
      text-align: start;

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    button {
      cursor: pointer;
      width: 89px;
      height: 32px;
      border-radius: 10px;
      background: #FF4A17;
      color: #FFF;
      text-align: center;
      font-size: 12px;
      font-family: Open Sans, sans-serif;
      font-weight: 600;
      line-height: 25.6px;
      border: none;
    }

    input::placeholder {
      color: #757575;
      font-size: 13px;
      font-family: Open Sans, sans-serif;
    }
  }

  .footer-bot {
    display: flex;
    justify-content: space-between;

    span,
    p {
      color: rgba(254, 254, 254, 0.70);
      font-size: 16px;
      font-family: Arimo, sans-serif;
      line-height: 25.6px;
    }
  }

  @media (max-width: 768px) {
    padding: 36px;

    .footer-top {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 40px;
    }

    .inpBtn {
      input {
        width: 100%;
      }
    }
  }

  @media (max-width: 375px) {
    padding: 24px;
  }
}

.alert {
  max-width: 300px;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 20px;
  right: 30px;
  padding: 20px;
  background-color: #17d673;
  /* Red */
  color: white;
  z-index: 9999;
  border-radius: 7px;
}

/* The close button */
.closebtn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}