.mp4 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 72px;
  margin-top: 40px;  


  h2 {
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-family: Arimo, sans-serif;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
  }

  span {
    color: transparent;
    -webkit-text-stroke: 0.4px #ffffff;
    font-weight: 400;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;

    .suv-car {
      max-width: 1296px;
      height: 729px;
      border-radius: 15px;
      margin-top: 20px;
    }

    .icon {
      position: relative;
      cursor: pointer;
      bottom: 450px;
    }
  }

  @media (max-width: 768px) {
    padding: 48px;

    div {
      .suv-car {
        width: 100%;
        height: auto;
        max-width: 600px;
        max-height: 338px;
      }

      .icon {
        display: none;
      }
    }
  }

  @media (max-width: 480px) {
    padding: 24px;

    h2 {
      font-size: 36px;
      line-height: 45px;
    }

    div {
      .suv-car {
        max-width: 100%;
        max-height: 240px;
      }
    }
  }
}
