.travel-pages {
  display: flex;
  justify-content: space-between;
  gap: 73px;
  padding: 40px;
}

.travel-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.travel-info h3 {
  color: #FFF;
  font-size: 50px;
  font-family: Arimo, sans-serif;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
}

.travel-info h3 span {
  color: transparent;
  -webkit-text-stroke: 0.4px #ffffff;
  font-weight: 400;
}

.travel-info div {
  display: flex;
  flex-direction: column;
}

.travel-info div button {
  width: 100%;
  max-width: 334px;
  height: 60px;
  border: none;
  background: none;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
}

.travel-info div button:hover p {
  color: #FF4A17;
}

.travel-info div button p {
  color: #FFF;
  font-size: 18px;
  font-family: Arimo, sans-serif;
  font-weight: 700;
  line-height: 60px;
  transition: 0.2s all ease-in-out;
}

.travel-info div button p .arrow {
  position: relative;
  top: 5px;
  left: 20px;
}

.tr {
  display: flex;
  flex-direction: column;
  gap: 78px;
}

.travel-imgs {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 78px;
}

.travel-imgs img {
  width: 100%;
  max-width: 698px;
  height: auto;
  border-radius: 15px;
  display: block;
  cursor: pointer;
}

.travel-imgs img:hover {
  opacity: 0.6;
}

.travel-imgs .overlay {
  display: flex;
  align-items: flex-end;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  border-radius: 15px;
  text-align: start;
  padding: 60px;
  background: linear-gradient(180deg, rgba(9, 9, 9, 0.35) 25.78%, #090909 99.06%);
}

.travel-imgs .overlay .text {
  color: #FFF;
  font-size: 24px;
  font-family: Arimo;
  font-weight: 700;
  line-height: 26.5px;
  letter-spacing: 0.12px;
  text-align: start;
}

.travel-imgs:hover .overlay {
  opacity: 1;
}


@media (max-width: 768px) {
  .travel-pages {
    flex-direction: column;
    gap: 0;
    padding: 20px;
  }

  .travel-imgs .overlay .text{
    font-size: 20px;
    line-height: 19.5px;


  }
  
  .travel-info {
    gap: 20px;
  }
  
  .travel-info h3 {
    font-size: 30px;
    line-height: 40px;
  }
  
  .travel-info div button {
    width: 100%;
    max-width: 100%;
  }
  
  .tr {
    gap: 40px;
  }
  
  .travel-imgs img {
    max-width: 100%;
    height: auto;
  }
  
  .travel-imgs .overlay {
    padding: 40px;
  }
}
