.menu {
  display: none;
  position: fixed;
  width: 300px;
  height: 500px;
  background-color: rgb(72, 72, 72);
  border-radius: 8px;
  top: 130px;
  left: 20px;
  padding: 20px;
  transition: all 0.3s ease-in-out;
  left: 100%;

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;


    li {
      list-style: none;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

.menu.open{
  left: 50%;
  transform: translateX(-50%);
}

.home-section {
  width: 100%;
  height: 650px;
  background: url('https://s3-alpha-sig.figma.com/img/4ce0/39e9/bf31fb7c2d26112ad340c7f41f8f8bee?Expires=1690156800&Signature=NFyyIn4qTfwLvZyFr1GyrGIMCGeN9JBhlaHipIcx1zV2CnTp1i9ruiNUBTfTv-QbwKi~ny0u-xMtizYZXzcdujerycZaJ2mXgniqaWyluGdzkZrIPK2HWeC8gj1ACfHeQLrXKO5y6RIHCg3fL51BAPevMXEmc8JQZ8wKOv7cNwaXDyV-XS7s4f46AUBo8QJslELgPxRkvDD-ifBvd4i9u~DfuQOcjx-7rbDpzt4RrrkH4Tz8BDmfGBhjLguWllREx1nRaVMH9kp0lk176I73zI~103l8zm2zi0B4ftsCVLpfK-XDgOL8ktsokemQZ2wu5DGfFLkeQ3UHd0YCVszyJw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4'), lightgray -243.949px 0px / 133.882% 100% no-repeat;
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 72px;
  align-items: center;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
}

.hamburger-btn,
.language {
  font-size: 40px;
  color: white;
  cursor: pointer;
  display: none;
}

.language {
  display: block;
}

.home-logo {
  width: 253px;
  height: 61.972px;
}

.home-nav {
  display: flex;
  align-items: center;
  gap: 60px;
}

.home-li {
  list-style: none;
}

.home-a {
  color: #FFF;
  font-size: 15px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
}

.home-a:hover,
.activ {
  color: #FF4A17;
}

.home-info {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home-h2,
.home-span {
  color: #FFF;
  text-align: center;
  font-family: Arimo, sans-serif;
  line-height: 25.6px;
  text-transform: uppercase;
}

.home-h2 {
  font-size: 50px;
  font-weight: 700;
}

.home-p,
.home-span {
  color: #999696;
  text-align: center;
  font-size: 16px;
  font-family: Arimo, sans-serif;
}

@media (max-width: 798px) {

  .menu{
    display: block;
  }

  .home-section { 
    padding: 36px;
  }
  .home-header {
    gap: 100px;
  }

  .home-logo {
    width: 180px;
    height: 44.104px;
  }

  .home-nav {
    display: none;
  }

  .language {
    display: none;
  }

  .hamburger-btn {
    display: block;
  }

  .home-h2 {
    font-size: 36px;
    line-height: 46.8px;
  }

  .home-p,
  .home-span {
    font-size: 14px;
    line-height: 22.4px;
  }
}

@media (max-width: 375px) {
  .home-section {
    padding: 24px;
  }

  .home-logo {
    width: 140px;
    height: 34.388px;
  }

  .home-h2 {
    font-size: 28px;
    line-height: 36.4px;
  }
}