.home-section {
  width: 100%;
  height: 650px;
  background: url('https://s3-alpha-sig.figma.com/img/4ce0/39e9/bf31fb7c2d26112ad340c7f41f8f8bee?Expires=1688947200&Signature=pHFZxkrRR1Y-YxEAubCEJ-jv7yU-0~QP9tJOg9rrY8t7WNuEIHGweKqiKPlMMysL0f2p6vWtNopqEqJ9C5aVuG1WPf2GMPp4QvjDdZmfd-~iGardqcDu29gzXAyjmyAqFn6Y2M2633CIbztkLjnbkS7DDPln10Fm3sMwTPKF0AUnzCa~CMcJnHok99cQ1480oJ5cVqTl0C~k4q~UT2YohPJiPkZDXkB2EJ~v2TB70Qex4qqqwT7jNG9m609tuAvCoFvbMX4ftVWJKRXylHc8EQqxFqK1pOeYK5msIcsAV6U7LZc9zMhIdjkrP~Ae5jO2qTyyknRY4DWRR6e1l0xIjA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4'), lightgray -243.949px 0px / 133.882% 100% no-repeat;
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 72px;
  align-items: center;
}

.home-header {
  display: flex;
  align-items: center;
  gap: 60px;
}

.home-logo {
  width: 253px;
  height: 61.972px;
}

.home-nav {
  display: flex;
  align-items: center;
  gap: 60px;
}

.home-li {
  list-style: none;
}

.home-a {
  color: #FFF;
  font-size: 15px;
  font-family: Poppins,sans-serif;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
}

.home-a:hover,
.activ {
  color: #FF4A17;
}

.home-info {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home-h2,
.home-span {
  color: #FFF;
  text-align: center;
  font-family: Arimo,sans-serif;
  line-height: 25.6px;
  text-transform: uppercase;
}

.home-h2 {
  font-size: 50px;
  font-weight: 700;
}

.home-p,
.home-span {
  color: #999696;
  text-align: center;
  font-size: 16px;
  font-family: Arimo,sans-serif;
}

@media (max-width: 768px) {
  .home-header {
    flex-direction: column;
    gap: 20px;
  }

  .home-section {
    padding: 36px;
  }

  .home-logo {
    width: 180px;
    height: 44.104px;
  }

  .home-nav {
    display: none;
    flex-direction: column;
  }

  .home-h2 {
    font-size: 36px;
    line-height: 46.8px;
  }

  .home-p,
  .home-span {
    font-size: 14px;
    line-height: 22.4px;
  }
}

@media (max-width: 375px) {
  .home-section {
    padding: 24px;
  }

  .home-logo {
    width: 140px;
    height: 34.388px;
  }

  .home-h2 {
    font-size: 28px;
    line-height: 36.4px;
  }
}